body {
    background-color: #222;
    margin: 10px;
}

/* Custom scrollbar for webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    background-color: #333;
}
  
::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}
  
  /* Custom scrollbar for Firefox */
html {
    scrollbar-width: thin;
}
  
html::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar on webkit browsers */
}
  
h1 {
    font-size: 40px;
    font-family: Georgia, serif;
    text-align: center;
    display: block;
    font-weight: 100;
    color: white;
}
h2 {
    font-size: 30px;
    font-family: Verdana, sans-serif;
    text-align: left;
    display: block;
    font-weight: 700;
    color: white;
}
h3 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    font-weight: 300;
    color: white;
}

table, td, th { 
    text-align: left;
    color: white;
    /* table-layout: fixed; */
}

table {
    border: none;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
    font-size: 20px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    color: #40a8f7;
}

td {
    font-family: "Trebuchet MS", sans-serif;
}

td:hover{
    background: #282828;
}

td:nth-child(1) {
    width: 150px;
}

/* the third */
td:nth-child(3) {
    width: 150px;
}
nav {
    position: relative;
    background: #222;
    padding: 0 15px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
}
ul{
    margin: 0;
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
}
.bodyMessege a {
    color: #40a8f7;
    text-decoration: none;
}
li#joinus{
    border: 1px solid white;
    padding: 10px;
    margin: 0 10px;
}
li#joinus:hover{
    border: 1px solid #e3e3e3;
}
.menu{   
    list-style-type: none;
}

.item {
    display: inline-block;
    padding: 0 20px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Desktop menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

#nav-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 300;
}

.bodyMessege{
    padding: 0 20px;
}

p {
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 0 20px;
    line-height: 1.5;
}