.bodyMessege a{
    color: #40a8f7;
    padding: 10px;
}

.bodyMessege a:hover{
    background-color: #333;
}

.bodyMessege{
    padding: 20px 20px;
    height: 100%;
    margin: 20px 0;
}

.sendQuery {
    width: 90%;
    background-color: #333;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 20px;
    transition: 0.2s linear;
}

#resultDisplay{
    width: 90%;
    background-color: #333;
    margin: 200px 0;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 20px;
}

#resultDisplay:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);    
}

#resultDisplay a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background: #222;
    margin: 5px;
    color: #5696f5;
    display: inline-block;
    border: 1px solid #555;
    transition: 0.2s;
}
#resultDisplay h2{
    font-size: 20px;
    color: white;
    text-align: center;
}
#resultDisplay a:hover{
    background: #444;

}

.sendQuery:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.sendQuery {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 20px;
}

.sendQuery input[type="text"] {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 15px;
}

.sendQuery button {
    width: 100%;
    padding: 15px;
    margin: 0;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: 0.2s;
}

.sendQuery input:focus{
    outline: none;
    background: #e3e3e3;
}

.sendQuery input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}